<div class = "container">
  <h2 class = "mt-5">Resend unlock instructions</h2>
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-7' %>
    </div>
    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: " mt-3 btn btn-primary mb-2" %>
    </div>
  <% end %>
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name) %><br />
  <% end %>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end %>
</div>
