<section class = "d-flex">
  <%= render 'sidebar' %>
  <section class = "admin-content">
    <%= render 'layouts/error' %>
    <div class = "d-flex mt-3 justify-content-between">
      <div>
        <h1 class = "text-center mb-3"> All Users</h1>
      </div>
      <%= search_form_for @q do |f| %>
        <div class = "d-flex mt-2 search-user">
          <div class = "form-group">
            <%= f.text_field :first_name_cont, class: "form-control",placeholder: "search user by first name" %>
          </div>
          <div>
            <%= f.submit class: "btn btn-dark ml-2" %>
          </div>
        </div>
      <% end %>
    </div>
    <table class = "table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td><%= link_to "Show", user_path(user), class: "btn btn-outline-primary"%></td>
            <td><%= link_to "Delete", user,method: :delete, data: {confirm: "are you sure?"} ,class: "btn btn-outline-danger"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </section>
</section>
