<div class="container mt-5 mb-5">
  <div class = "row">
    <div class= "col-md-6">
      <div class = "d-flex justify-content-center align-items-center">
        <div class="card" style="width: 30rem;">
          <div class = "text-center mt-4 car-h1">Verify OTP [Please wait for 1min before resend]</div>
          <div class = "container"><hr></div>
          <div class="card-body">
            <%= simple_form_for phone_otp_path, method: :post, data:{turbo: false} do |f| %>
              <div class = "form-group">
                <%= f.text_field :otp_attempt,autofocus: true, class: "form-control", placeholder: "Enter OTP like 'XXXXXXXX'" %>
              </div>
              <%= link_to 'Resend OTP?', phone_otp_path, data: { turbo: "false" }, style: "color:blue;" %> <br>
              <%= link_to 'Go back to Sign-in Page', new_user_session_path, data: { turbo: "false" }, style: "color:blue;" %>
              <br>
              <div class="actions">
                <%= f.submit 'Submit OTP', class: 'btn mt-2 home-btn p-3' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
