<section class = "d-flex">
  <%= render 'users/sidebar' %>
  <section class = "admin-content">
    <%= render 'layouts/error' %>
    <div class = "d-flex">
      <%= link_to 'Add New Car', new_car_path, class: "btn btn-dark add-car mt-3 mb-3" %>
      <h1 class = "justify-content-center mt-3 admin-cars-heading">All Cars </h1>
    </div>
    <table class = "table table-bordered">
      <thead>
        <tr>
          <th>Car Name</th>
          <th>Vehcile NO.</th>
          <th>Captain Name</th>
          <th>Seater</th>
          <th>Vehicle Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @cars.each do |car| %>
            <td><%= car.car_name %></td>
            <td><%= car.vehicle_no %></td>
            <td><%= car.captain_name %></td>
            <td><%= car.seater %></td>
            <td><%= car.vehicle_type %></td>
            <td><%= link_to 'Edit', edit_car_path(car), class: "btn btn-outline-success" %></td>
            <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }  , class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_nav(@pagy) %>
  </section>
</section>
