<nav class="navbar navbar-expand-lg navbar-dark custom-nav-dark">
  <%= link_to 'Car Rental', root_path, class: "navbar-brand", id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <%= link_to 'Add New Car', new_car_path, class: "nav-link font-size ml-2" %>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item dropdown active">
        <% if user_signed_in? %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %>
            <span>
              <% if current_user.has_role? :admin %>
                <span>[Admin]</span>
              <% end %>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Profile" , user_path(current_user) ,class: "dropdown-item" %>
            <%= link_to "Log out" ,destroy_user_session_path ,method: :delete, data: {confirm: "you want to logout"} ,class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% if user_signed_in? %>
              <% if current_user.has_role? :admin %>
                <%= link_to "Admin Dashboard", users_path, class: "dropdown-item" %>
              <% end %>
            <% end %>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        <% end %>
      </li>
      <% if !user_signed_in? %>
        <li class = "nav-item active" >
          <%= link_to "Login" , new_user_session_path , class: 'nav-link font-size' %>
        </li>
        <li class = "nav-item active" >
          <%= link_to "Sign up" , new_user_registration_path , class: 'nav-link font-size' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
